.logo img{
    max-width: 10%;
    display: flex;
    margin: auto;
}

.centrar-texto{
    text-align: center;
}

.encabezado{
    position: relative;
    font-size: 30px;
    bottom: -60px;
}

.sign{
    position: relative;
    font-size: 20px;
    bottom: -60px;
}

.box{
    display: block;
    position: relative;
    margin: auto;
    bottom: -70px;
    padding: 1rem;
    background-color: #F2F2F2;
    height: 350px;
    width: 400px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 6px 6px 6px #ABABAB;

}

.box img{
    position: relative;
    margin: auto;
    display: flex;
    max-width: 30%;
    border-radius: 4rem;
    bottom: -15px;
}

.box input{
    position: relative;
    margin: auto;
    display: flex;
    width: 250px;
    height: 50px;
    bottom: -50px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background: #F9FF96;
    border: none;
    box-shadow: 3px 3px 3px #ABABAB;
}

.box button{
    position: relative;
    margin: auto;
    display: flex;
    width: 250px;
    height: 50px;
    bottom: -65px;
    background: #53B3FF;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.box button:hover{
    cursor: pointer;
}

.box a{
    position: relative;
    margin: auto;
    display: flex;
    text-decoration: none;
    color: #2EA3FF;
    font-weight: bold;
    font-size: 15px;
    bottom: -80px;
    right: -260px;
}

.account a{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #2EA3FF;
    font-weight: bold;
    font-size: 20px;
    bottom: -60px;
}

.contain-footer{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    bottom: -60px;
}
.icon-footer{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    bottom: -50px;
        
}

.icon-footer img{
    max-width: 1%;
    max-height: 1%;
    margin: 0.5rem;
}